<!DOCTYPE html>
<html>
<head>
<title>History</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="top-bar">
<a href="/" class="news-btn">⬅ Back</a>
</div>

<h1 class="main-heading">Prediction History</h1>

<div class="container">

{% for item in data %}
<div class="history-card">

<p><strong>News:</strong> {{item[1]}}</p>
<p><strong>Result:</strong> {{item[2]}}</p>
<p><strong>Confidence:</strong> {{item[3]}}%</p>

</div>
{% endfor %}

</div>

</body>
</html>
