<!DOCTYPE html>
<html>
<head>
<title>Fake News Detector</title>
<link rel="stylesheet" href="/static/style.css">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>

<h1 class="main-heading">Fake News Detection System</h1>

<div class="main-container">

<!-- LEFT PANEL -->
<div class="card left-panel">

<form action="/predict" method="post">
<textarea name="news" placeholder="Enter news here..."></textarea>
<button type="submit">Analyze News</button>
</form>

{% if error %}
<p class="error">{{error}}</p>
{% endif %}

{% if prediction %}
<div class="result">
<h3>{{prediction}}</h3>
</div>
{% endif %}

{% if reasons %}
<div class="result">
<strong>Reason:</strong>
<ul>
{% for r in reasons %}
<li>{{r}}</li>
{% endfor %}
</ul>
</div>
{% endif %}

</div>

<!-- RIGHT PANEL -->
<div class="card right-panel">

<h3 class="center">Analysis</h3>

{% if confidence %}
<p class="center"><strong>Confidence: {{confidence}}%</strong></p>

<div class="bar-container">
<div class="bar" style="width: {{confidence}}%;">
{{confidence}}%
</div>
</div>
{% endif %}

<div class="chart-container">
<canvas id="chart"></canvas>
</div>

</div>

</div>

<!-- BOTTOM BUTTONS -->
<div class="bottom-buttons">
<a href="/latest" class="news-btn">Latest News</a>
<a href="/history" class="news-btn">History</a>
</div>

<!-- CHART SCRIPT -->
<script>
var ctx = document.getElementById('chart');

if(ctx){
new Chart(ctx,{
    type:'pie',
    data:{
        labels:['Fake','Real'],
        datasets:[{
            data:[{{fake}},{{real}}],
            backgroundColor:['#ef4444','#22c55e']
        }]
    },
    options:{
        responsive:true,
        maintainAspectRatio:false
    }
});
}
</script>

</body>
</html>
