<!DOCTYPE html>
<html>
<head>
<title>Latest News</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="container">

<h2>Latest News</h2>

<div class="news-grid">

{% for article in articles %}
<a href="/news/{{loop.index0}}" class="news-link">

<div class="news-card">
<h3>{{article.title}}</h3>
<p>{{article.description}}</p>

<p class="meta">
{{article.source.name}} • {{article.publishedAt[:10]}}
</p>

</div>

</a>
{% endfor %}

</div>

<div class="bottom-buttons">
<a href="/" class="news-btn">⬅ Back</a>
</div>

</div>

</body>
</html>
