<!DOCTYPE html>
<html>
<head>
<title>Latest News</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<!-- BACK BUTTON -->
<div class="top-bar">
<a href="/" class="news-btn">⬅ Back</a>
</div>

<h1 class="main-heading">Latest News</h1>

<div class="container">

<div class="news-grid">

{% for article in articles %}
<div class="news-card">

<a href="/news/{{loop.index0}}" class="news-link">
<h3>{{article.title}}</h3>
</a>

<p>{{article.description}}</p>

<p class="meta">
{{article.source.name}} • {{article.publishedAt[:10]}}
</p>

<a href="/news/{{loop.index0}}" class="read-btn">
Read More →
</a>

</div>
{% endfor %}

</div>

</div>

</body>
</html>
